
<style>
  
h2 {
  text-align: center;
}





</style>



<%= form_for([@blogpost, @blogpost.comments.build]) do |f| %>
  <p>
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <p><%if current_user.try(:admin?)%>
<%= link_to 'Edit', edit_blogpost_path(@blogpost) %>
<%end%>
</p>
<% end %>